<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span><img src="https://ogb.stanford.edu/assets/img/OGB_pure.png" alt="Logo" height="44px" width="125.81"></span>
            </a>
        </div>
        <div class="relative flex-1 lg:max-w-sm mr-2 sm:mr-4 lg:mr-6"><input autocomplete="off" class="w-full dark:bg-gray-950 pl-8
			form-input-alt h-9 pr-3 focus:shadow-xl" name="" placeholder="Search models, datasets, users..." spellcheck="false" type="text" data-keeper-lock-id="k-6279496jee3"> <svg class="absolute left-2.5 text-gray-400 top-1/2 transform -translate-y-1/2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M30 28.59L22.45 21A11 11 0 1 0 21 22.45L28.59 30zM5 14a9 9 0 1 1 9 9a9 9 0 0 1-9-9z" fill="currentColor"></path></svg> <keeper-lock class="focus-visible keeper-lock-disabled" tabindex="0" id="k-6279496jee3" style="background-image: url(&quot;chrome-extension://bfogiafebfohielmmehodmfbbebbbpei/images/ico-field-fill-lock-grey.svg&quot;) !important; background-size: 16px 16px !important; cursor: pointer !important; width: 16px !important; position: absolute !important; opacity: 0 !important; margin-top: auto !important; min-width: 16px !important; top: 10px; left: 356px; z-index: 1; padding: 0px; height: 16px !important;" aria-label="Open Keeper Popup" role="button"></keeper-lock></div>
        <div id="navbar" class="collapse navbar-collapse">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="/docs/home/">Get Started</a></li>
                    <li><a href="/docs/update/">Updates</a></li>
                    <li class=""><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        Large-Scale Challenge <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="/docs/lsc/">Overview</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/lsc/mag240m/">MAG240M</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/lsc/wikikg90mv2/">WikiKG90Mv2</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/lsc/pcqm4mv2/">PCQM4Mv2</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/lsc/rules/">Rules</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/lsc/leaderboards/">Leaderboards</a></li>
                            <li class="divider"></li>
                            <li><a href="https://arxiv.org/abs/2103.09430">LSC Paper</a></li>
                            <li class="divider"></li>
                            <li><a href="/neurips2022/">2nd LSC@NeurIPS 2022 (NEW!)</a></li>
                            <li class="divider"></li>
                            <li><a href="/kddcup2021/">1st LSC@KDD Cup 2021 (archive)</a></li>
                        </ul>
                    </li>
                    <li class=""><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        Datasets <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="/docs/dataset_overview/">Overview</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/nodeprop/">Node Property Prediction</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/linkprop/">Link Property Prediction</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/graphprop/">Graph Property Prediction</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/lsc/">Large-Scale Challenge</a></li>
                        </ul>
                    </li>
                    <li class=""><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        Leaderboards <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="/docs/leader_overview/">Overview</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/leader_rules/">Rules</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/leader_nodeprop/">Node Property Prediction</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/leader_linkprop/">Link Property Prediction</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/leader_graphprop/">Graph Property Prediction</a></li>
                            <li class="divider"></li>
                            <li><a href="/docs/lsc/leaderboards/">Large-Scale Challenge</a></li>
                        </ul>
                    </li>
                    <li class=""><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        Papers <span class="caret"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://arxiv.org/abs/2005.00687">OGB paper</a></li>
                            <li class="divider"></li>
                            <li><a href="https://arxiv.org/abs/2103.09430">OGB-LSC paper</a></li>
                        </ul>
                    </li>

                    <li><a href="#">Team</a></li>
                    <li><a href="https://github.com/snap-stanford/ogb">Github</a></li>
                </ul></div>
        </div>
    </div>
</nav>