<div class="positionSticky">
    <div>
        <div class="relative searchBox leftNavSearch flex-1 lg:max-w-sm mr-2 sm:mr-4 lg:mr-6"><input autocomplete="off" class="w-full dark:bg-gray-950 pl-8
			form-input-alt h-9 pr-3 focus:shadow-xl" name="" placeholder="Search Documentation" spellcheck="false" type="text" data-keeper-lock-id="k-6279496jee3"> <svg class="svgAbsolute svgLeftNav left-2.5 text-gray-400 top-1/2 transform -translate-y-1/2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path d="M30 28.59L22.45 21A11 11 0 1 0 21 22.45L28.59 30zM5 14a9 9 0 1 1 9 9a9 9 0 0 1-9-9z" fill="currentColor"></path></svg> <keeper-lock class="focus-visible keeper-lock-disabled" tabindex="0" id="k-6279496jee3" style="background-image: url(&quot;chrome-extension://bfogiafebfohielmmehodmfbbebbbpei/images/ico-field-fill-lock-grey.svg&quot;) !important; background-size: 16px 16px !important; cursor: pointer !important; width: 16px !important; position: absolute !important; opacity: 0 !important; margin-top: auto !important; min-width: 16px !important; top: 10px; left: 356px; z-index: 1; padding: 0px; height: 16px !important;" aria-label="Open Keeper Popup" role="button"></keeper-lock></div>
    </div>
    <div class="leftNavContent">
        <div class="refine-group">
            <h5 class="refine-name">
                <span>
                    Get Started
                    <i class="icon-32-minus-mono"></i>
                    <i class="icon-32-plus-mono"></i>
                </span>
            </h5>
            <div class="refine-item">
                <ul class="simple_list">
                    <li class="refine-items">
                        <a href="./OGB">Open Graph Benchmark</a>
                    </li>
                    <li class="refine-items">
                        <a href="./pyg">PyTorch Geometric</a>
                    </li>
                    <li class="refine-items">
                        <a href="./GraphGym">GraphGym</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="refine-group">
            <h5 class="refine-name">
                <span>
                    Tutorials
                    <i class="icon-32-minus-mono"></i>
                    <i class="icon-32-plus-mono"></i>
                </span>
            </h5>
            <div class="refine-item">
                <ul class="simple_list">
                    <li class="refine-items">
                        <a href="./OGB">Open Graph Benchmark</a>
                    </li>
                    <li class="refine-items">
                        <a href="./pyg">PyTorch Geometric</a>
                    </li>
                    <li class="refine-items">
                        <a href="./GraphGym">GraphGym</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="refine-group">
            <h5 class="refine-name">
                <span>
                    API
                    <i class="icon-32-minus-mono"></i>
                    <i class="icon-32-plus-mono"></i>
                </span>
            </h5>
            <div class="refine-item">
                <ul class="simple_list">
                    <li class="refine-items">
                        <a href="#">Transformers</a>
                    </li>
                    <li class="refine-items">
                        <a href="#">Quick Tour</a>
                    </li>
                    <li class="refine-items">
                        <a href="#">Installation</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="refine-group">
            <h5 class="refine-name">
                <span>
                    HOW-TO GUIDES
                    <i class="icon-32-minus-mono"></i>
                    <i class="icon-32-plus-mono"></i>
                </span>
            </h5>
            <div class="refine-item">
                <ul class="simple_list">
                    <li class="refine-items">
                        <a href="#">Transformers</a>
                    </li>
                    <li class="refine-items">
                        <a href="#">Quick Tour</a>
                    </li>
                    <li class="refine-items">
                        <a href="#">Installation</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="refine-group">
            <h5 class="refine-name">
                <span>
                    Conceptual Guides
                    <i class="icon-32-minus-mono"></i>
                    <i class="icon-32-plus-mono"></i>
                </span>
            </h5>
            <div class="refine-item">
                <ul class="simple_list">
                    <li class="refine-items">
                        <a href="#">Transformers</a>
                    </li>
                    <li class="refine-items">
                        <a href="#">Quick Tour</a>
                    </li>
                    <li class="refine-items">
                        <a href="#">Installation</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>
