<!--<nav class="hidden md:flex top-32 absolute bottom-0 w-full md:w-[270px] 2xl:w-[300px] flex-col px-4 pt-3 pb-16 left-0 text-[0.95rem] overflow-y-auto border-r"> <div class="flex items-center cursor-pointer font-semibold group uppercase leading-9 text-[0.8rem] hover:text-gray-700 dark:hover:text-gray-300  pl-2 ml-0"><div class="flex group-hover:after:content-['▶'] after:absolute after:right-4 after:text-gray-500 after:transition after:duration-100 after:ease-in false"><span><span class="inline-block leading-5 space-x-1"><span>Get started</span> </span></span></div></div> <div class="flex items-center cursor-pointer font-semibold group uppercase leading-9 text-[0.8rem] hover:text-gray-700 dark:hover:text-gray-300  pl-2 ml-0"><div class="flex group-hover:after:content-['▶'] after:absolute after:right-4 after:text-gray-500 after:transition after:duration-100 after:ease-in false"><span><span class="inline-block leading-5 space-x-1"><span>Tutorials</span> </span></span></div></div> <div class="flex items-center cursor-pointer font-semibold group uppercase leading-9 text-[0.8rem] hover:text-gray-700 dark:hover:text-gray-300  pl-2 ml-0"><div class="flex group-hover:after:content-['▶'] after:absolute after:right-4 after:text-gray-500 after:transition after:duration-100 after:ease-in false"><span><span class="inline-block leading-5 space-x-1"><span>How-to guides</span> </span></span></div></div> <div class="flex items-center cursor-pointer font-semibold group uppercase leading-9 text-[0.8rem] hover:text-gray-700 dark:hover:text-gray-300  pl-2 ml-0"><div class="flex group-hover:after:content-['▶'] after:absolute after:right-4 after:text-gray-500 after:transition after:duration-100 after:ease-in false"><span><span class="inline-block leading-5 space-x-1"><span>Conceptual guides</span> </span></span></div></div> <div class="flex items-center cursor-pointer font-semibold group uppercase leading-9 text-[0.8rem] hover:text-gray-700 dark:hover:text-gray-300  pl-2 ml-0"><div class="flex group-hover:after:content-['▶'] after:absolute after:right-4 after:text-gray-500 after:transition after:duration-100 after:ease-in false"><span><span class="inline-block leading-5 space-x-1"><span>API</span> </span></span></div></div> </nav>
-->
<!--<div class="positionSticky">-->
<!--<h2>Navigate to</h2>-->
<!--<ul>-->
<!--<li><a href="#user-content-overview">Overview</a></li>-->
<!--<li><a href="#user-content-installation">Installation</a></li>-->
<!--<li><a href="#user-content-package-usage">Package Usage</a></li>-->
<!--<li><a href="#user-content-citing-ogb--ogb-lsc">Citing OGB/OGB-LSC</a></li>-->
<!--</ul>-->
<!--</div>-->

<div class="positionSticky">
    <h1>Transformers</h1>
    <p>If you are looking for custom support from the </p>
    <p>Contents</p>
    <ul>
        <li>supported models</li>
        <li>supported frameworks</li>
    </ul>
</div>
