<!--<div class="positionSticky">-->
<!--    <h1>Transformers</h1>-->
<!--    <p>If you are looking for custom support from the </p>-->
<!--    <p>Contents</p>-->
<!--    <ul>-->
<!--        <li>supported models</li>-->
<!--        <li>supported frameworks</li>-->
<!--    </ul>-->
<!--</div>-->

<div class="positionSticky">
    <h2>Navigate to</h2>
    <ul>
        <li><a href="#user-content-overview">Overview</a></li>
        <li><a href="#user-content-installation">Installation</a></li>
        <li><a href="#user-content-package-usage">Package Usage</a></li>
        <li><a href="#user-content-citing-ogb--ogb-lsc">Citing OGB/OGB-LSC</a></li>
    </ul>
</div>