<div class="uppyUploadWidget">
    <h2>Uppy Upload Widget</h2>
    <div id="drag-drop-area"></div>
</div>


<script type="module">
      import {Uppy, Dashboard, Tus, StatusBar, Informer, Webcam, GoogleDrive, Dropbox, Instagram, Facebook, OneDrive, ScreenCapture, ImageEditor, DropTarget, GoldenRetriever, XHRUpload} from "https://releases.transloadit.com/uppy/v3.0.1/uppy.min.mjs"
      var uppy = new Uppy()
        .use(Dashboard, {
          inline: true,
          target: '#drag-drop-area'
        })
        .use(GoogleDrive, { target: Dashboard, companionUrl: 'http://localhost:3020' })
.use(Dropbox, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
.use(Instagram, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
.use(Facebook, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
.use(OneDrive, { target: Dashboard, companionUrl: 'https://companion.uppy.io' })
.use(Webcam, { target: Dashboard })
.use(ScreenCapture, { target: Dashboard })
.use(ImageEditor, { target: Dashboard })
//.use(Tus, { endpoint: 'https://tusd.tusdemo.net/files/' })
.use(XHRUpload, {
    endpoint: 'http://localhost:3000/image' ,
    fieldName: 'photo',
    formData: true,
})
.use(DropTarget, {target: document.body })
.use(GoldenRetriever)
.on('complete', result => {
document.location.reload();
console.log('successful files:', result.successful)
console.log('failed files:', result.failed)
})
    </script>